<!DOCTYPE html>
<html>
  <head>
    <title>NREC Report REST API</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}">
  </head>
  <body>
    <div class='heading'>
      <h2>Welcome to NREC report REST API</h2>
      <p>Simple REST API for additonal NREC resources</p>
      <h3>Documentation:</h3>
      <ul>
        <li><a href=/api/v1/docs>Report REST API v1</a></li>
        <li><a href=/oauth2/docs>OAuth REST API</a></li>
      </ul>
      <h3>Health status:</h3>
      <ul>
        <li><a href=/health>Health status in json format</a></li>
      </ul>
    </div>
  </body>
</html>
